<a href="https://colab.research.google.com/github/mariammur/CS4410/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A

In [56]:
import pandas as pd

url = 'https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv'
df = pd.read_csv(url)
print(df)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [57]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv')
print(df)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

B

In [58]:
import pandas as pd
import io

df = pd.read_csv ('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv', index_col=0)
print(df)

             cut color clarity  depth  table  price     x     y     z
carat
0.23       Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
0.21     Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0.23        Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
0.29     Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
0.31        Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...          ...   ...     ...    ...    ...    ...   ...   ...   ...
0.72       Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
0.72        Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
0.70   Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
0.86     Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
0.75       Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

C

In [59]:
import pandas as pd
import io
 
df = pd.read_csv ('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv', index_col=0)
result = df.head(7)
print(result)

             cut color clarity  depth  table  price     x     y     z
carat
0.23       Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
0.21     Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0.23        Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
0.29     Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
0.31        Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
0.24   Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
0.24   Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

D

In [60]:
import pandas as pd
import io
 
df = pd.read_csv ('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv', index_col=0)
result = df.tail(7)
print(result)

             cut color clarity  depth  table  price     x     y     z
carat
0.70   Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
0.72     Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
0.72       Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
0.72        Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
0.70   Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
0.86     Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
0.75       Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

E

In [61]:
import pandas as pd

df = pd.read_csv ('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv')
print(df.describe())

              carat         depth         table         price             x  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184   3932.799722      5.731157
std        0.474011      1.432621      2.234491   3989.439738      1.121761
min        0.200000     43.000000     43.000000    326.000000      0.000000
25%        0.400000     61.000000     56.000000    950.000000      4.710000
50%        0.700000     61.800000     57.000000   2401.000000      5.700000
75%        1.040000     62.500000     59.000000   5324.250000      6.540000
max        5.010000     79.000000     95.000000  18823.000000     10.740000

                  y             z
count  53940.000000  53940.000000
mean       5.734526      3.538734
std        1.142135      0.705699
min        0.000000      0.000000
25%        4.720000      2.910000
50%        5.710000      3.530000
75%        6.540000      4.040000
max       58.900000     31.800000

F

In [62]:
s = pd.Series(['cut', 'color', 'clarity'])
s.describe()

count       3
unique      3
top       cut
freq        1
dtype: object

In [63]:
df['cut'].describe

<bound method NDFrame.describe of 0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object>

In [64]:
df['color'].describe()

count     53940
unique        7
top           G
freq      11292
Name: color, dtype: object

In [65]:
df['clarity'].describe()

count     53940
unique        8
top         SI1
freq      13065
Name: clarity, dtype: object

G

In [66]:
df.series(['cut']).unique()

AttributeError: ignored

In [67]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

H

In [ ]:
%matplotlib inline